.clear { clear:both; }

html { background-color:#fefaef; font-family:Helvetica; font-size:12px; color:#666; line-height:20px; }
.container { width:990px; position:absolute; left:50%; margin-left:-495px; }

.main { width:950px; padding:0 20px; background:transparent url(images/background_body.jpg) repeat-y 0 0; }

/* header */
.header { background:transparent url(images/bg_menu_top.jpg) repeat-x 0 0; width:100%; height:70px; }
.header .nav { float:right; height:70px; clear:both; }
.logo { margin:70px 0 0 0; text-indent:-10000px; overflow:hidden; display:block; float:left; height:152px; width:270px; background:transparent url(images/logo.jpg) no-repeat 0 0; }
.main-banner { display:block; float:left; height:152px; width:680px; background:url(images/it/banner.jpg) no-repeat 0 0; }

.header .nav li { display:inline; }
.header .nav a { display:block; float:left; height:70px; background:transparent url(images/it/menu.jpg) no-repeat 0 0; text-indent:-10000px; overflow:hidden; }
.header .nav a:hover,
	.header .nav .current a { background-position-y:-70px !important; }

.header .nav .studio a { background-position:0 0; width:80px; }
.header .nav .expertise a { background-position:-81px 0; width:102px; }
.header .nav .network a { background-position:-183px 0; width:97px; }
.header .nav .info a { background-position:-280px 0; width:70px; }
.header .nav .workwithus a { background-position:-350px 0; width:139px; }
.header .nav .contacts a { background-position:-489px 0; width:97px; }


/* content */
.section { clear:both; position:relative; border-bottom:1px solid #e0d9d1; background:transparent url(images/bg_colonna_sx_top.jpg) no-repeat 0 0; }
.content { padding:30px 30px 30px 300px; text-align:justify; background:transparent url(images/bg_colonna_sx_center.jpg) repeat-y 0 0; }
.section .clear { background:transparent url(images/bg_colonna_sx_bottom.jpg) no-repeat 0 bottom; height:5px; }
.aside { position:absolute; left:0; top:0; width:200px; padding:30px 30px;  }

h2 { background:transparent url(images/line_titlebotton_contenuticentrali.jpg) repeat-x 0 bottom; color:#065f33; padding:0 0 15px 0; font-size:16px; font-weight:bold; margin:30px 0 5px 0; }
h2.first { margin-top:0; }
p { margin:10px 0; }

.content h4 { margin:25px 0 0 0; color:#065f33; font-size:13px; font-weight:bold; }
.content h5 { color:#343434; font-size:12px; font-weight:bold; }
.content h6 { color:#666; font-size:12px; font-weight:bold; margin:25px 0 0 0; }
.content ul { margin:0 0 10px 0; }
.content ul li { list-style-type:disc; display:list-item; margin:0 0 0 15px; }

.content .news .article { margin:0 0 20px 0; padding:0 0 10px 0; border-bottom:1px solid #CCC; }
.content .news .article h4 { margin:0; }

.aside h3 { position:relative; color:#6a6359; font-size:14px; font-weight:bold; margin:0 0 5px 0; background:transparent url(images/line_titlebotton_colonnasx.jpg) repeat-x 0 bottom; height:30px; }
.aside h3 a { display:block; width:22px; height:22px; position:absolute; top:-3px; right:0; background:transparent url(images/it/bottoni.png) no-repeat 0 0; }
.aside h3 a:hover { background-position:0 -24px; }
.aside h4 { color:#6a6359; font-size:12px; font-weight:bold; }
.aside .article { background:transparent url(images/line_titlebotton_colonnasx.jpg) repeat-x 0 bottom; padding:10px 0 20px 0; color:#9f9890; font-size:11px; }
.aside .article.last { background:none; }
.aside .article a { color:#6a6359; text-decoration:none; }
.aside .article a:hover { text-decoration:underline; }

.aside .nav { background:url(images/line_titlebotton_colonnasx.jpg) repeat-x 0 bottom; padding:0 0 10px 0; }
.aside .nav li { background:url(images/line_titlebotton_colonnasx.jpg) repeat-x 0 top; }
.aside .nav a { text-decoration:none; color:#b5aea6; display:block; padding:20px 0 20px 10px; background:transparent url(images/link.png) no-repeat 0 center; }
.aside .nav li a:hover { color:#6b6259; padding:20px 0 20px 20px; background:transparent url(images/currentlink.png) no-repeat 0 center; }
.aside .nav li.current a { color:#6b6259; font-weight:bold; padding:20px 0 20px 20px; background:transparent url(images/currentlink.png) no-repeat 0 center; }

.aside .professionist a { color:#817871; font-size:11px; }
.aside .professionist h3 { margin:20px 0 0 0; }
.aside .professionist h3.first { margin:0; }

.aside a.map { color:#817871; font-size:11px; }

.aside .where span { display:block; color:#6B6159; font-size:12px; }
.aside .where span.name { font-weight:bold; font-size:13px; }
.aside .where span i { font-style:normal; font-weight:bold; }
.aside .where span.mail a { color:#6B6159; text-decoration:none; }

.content form { text-align:right; margin:40px 0 0 0; }
.content form ul { margin:0; clear:both; }
.content form ul li { margin:0; list-style-type:none; padding:7px; border-bottom:1px solid #CCC; text-align:right; position:relative; }
.content form label { width:200px; display:block; float:left; text-align:left; }
.content form .field { clear:both; }
.content form span.checkbox-title { position:absolute; top:7px; left:7px; display:block; }
.content form ul.checkbox li { border:0; padding:4px 7px; }
.content form ul.checkbox label { float:right; width:280px; padding:0 0 0 10px; }
.content form textarea { margin:0; width:300px; height:150px; padding:3px 5px; font-family:Helvetica; font-size:12px; }
.content form input { padding:3px 5px; width:300px; font-family:Helvetica; }
.content form input[type=checkbox] { width:20px; }
.content form input.button { margin:15px 0 0 0; border:0; width:140px; cursor:pointer; text-indent:-10000px; overflow:hidden; height:30px; background:transparent url(images/it/bottoni.png) no-repeat -40px 0; }
.content form input.button:hover { background-position-y:-32px; }

.content form input.error,
	.content form textarea.error { border:1px solid red; }
.content form label.error { display:block; float:none; width:100%; text-align:right; color:red; padding:3px 10px 0 0; }

/* footer */
.footer { text-align:center; font-size:11px; margin:20px 0 0 0; color:#7d7d7b; }
.footer .nav li { display:inline; border-right:1px solid #7d7d7b; padding:0 10px 0 5px; }
.footer .nav a { color:#7d7d7b; text-decoration:none; }
.footer .nav li.last { border:0; }
.footer .company-details { line-height:15px; margin:20px 0; }



/* mix */
a.l-contactus-big { height:60px; width:348px; overflow:hidden; margin:50px 0 0 0; text-indent:-10000px; display:block; background:transparent url(images/it/bottoni.png) no-repeat 0 -124px; }
a.l-contactus-small { height:60px; width:210px; overflow:hidden; margin:30px 0 0 -5px; text-indent:-10000px; display:block; background:transparent url(images/it/bottoni.png) no-repeat -198px 0; }
a:hover.l-contactus-small { background-position:-198px -62px; }
ul.l-collaborators-list { margin:30px 0 0 0; }
ul.l-collaborators-list a { color:#065f33; font-weight:bold; line-height:25px; }

a.mail, a.print, a.cv { color:#6B6159; text-decoration:none; margin:4px 0; display:block; background:url(images/it/bottoni.png) no-repeat -351px -122px; padding:1px 0 2px 25px; line-height:16px; height:12px; }
a.print { background-position:-351px -156px; padding:4px 0 2px 25px; }
a.cv { background-position:-351px -137px; padding:4px 0 4px 25px; }

p.add-margin { margin-bottom:300px; }

div.google_map { width:200px; height:300px; border:1px solid #CCC; margin:50px 0 0 0; }